.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}




.finished{
  margin-top: 75px;
  font-size: 32px;
  font-family: Rubik Dirt;
  color: #ff7979;
  display: block;
}


.not-finished{
  display: none;
}


.red-digit{
  color: #ff7979;
  font-weight: bold;
}
.reset-stop{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:70px;
  column-gap: 150px;
  
}

.reset-div button, .stop-div button{
  color:white;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  border-radius: 2.5px;
  
}

.stop-div button{
  background-color: #ff7979;
 
}

.reset-div button{
  background-color: #22a6b3;
 
}

.stop-div button:hover{
  background-color: #ff7979d7;
 
}

.reset-div button:hover{
  background-color: #22a7b3cc;
 
}
